*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}
.div{
    width: 300px;
    height: 300px;
    background-color: red;
  animation-name: box;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  transform: translate(0,0);
}
@keyframes box{
    0%{
        transform: translate(0);

    }
    25%{
        transform: translateX(700px);
        background-color: gray;
        border-radius: 30px;
    }
    50%{
        transform: translate(700px,700px);
        background-color: black;
        border-radius: 50px;
    }
    75%{
        transform: translate(0,700px);
        background-color: orange;
        border-radius: 70px;
    }
    100%{
        transform: translate(0);
        background-color:aqua;
    }
}